.sidebarRoot {
    height: 100%;
    overflow: auto;
    border-right: solid 0.1px #ddd;
}

.list-group-item {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-top-width: 0px;
}

.list-group {
    padding-left: 10px
}

.element {
    margin-top: 6px;
    margin-bottom: 6px;
    display: flex;
    z-index: 10;
}


.deleteButton {
    margin-left: auto;
    position: relative;
    top: 3px;
    display: none !important;
}

.element:hover > .deleteButton {
    display: inline !important;
}

.hidden {
    display: none;
}

.deleteButton:hover {
    color: red
}



/*nota: height è 19 + 2*transform, e transform è il padding su element (top e bottom)*/
.active::before {
    transform: translate(0px, -6px);
    content: '';
    position: absolute;
    left: 0;
    width: 200px;
    height: 31px;
    background: rgba(17, 90, 213, 0.3);
    color: white;
    box-sizing: border-box;
    /*vertical-align: middle;*/
}



.rename {
    display: none;
}
