.sidebarRoot {
    height: 100%;
    overflow: auto;
    border-right: solid 0.1px #ddd;
}

.list-group-item {
    padding-top: 8px;
    padding-bottom: 0px;
    border-top-width: 0px;
}

.list-group {
    padding-left: 10px
}

.element {
    display: flex;
    z-index: 10;
}

.deleteButton {
    margin-left: auto;
    position: relative;
    top: 3px;
    display: none !important;
}

.element:hover > .deleteButton {
    display: inline !important;
}

.hidden {
    display: none;
}

.deleteButton:hover {
    color: red
}



/*.active {
    background: #2c313a;
    color: white;
    box-sizing: border-box;
}*/

.active::before, .activeFile::before {
    content: '';
    position: absolute;
    left: 0;
    width: 200px;
    height:19px;
    background: rgba(100, 100, 100, 0.3);
    color: white;
    box-sizing: border-box;
    vertical-align: middle;
}

.activeFile::before {
    left: 200;
    width: 200px;
    background: rgba(100, 100, 100, 0.3);
}


.rename {
    display: none;
}
